/*Schrijf hier jouw CSS*/
body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
}
/*flex items*/
article{
 flex: 4;
}
nav{
    flex: 1;
}
aside{
    flex: 1;
}
/*flex items vertical*/
header{
    height: 10vh;
}
main{
    height: 80vh;
}
footer{
    height: 10vh;
}